<div id="<%= dom_id my_transaction %>">
  <p>
    <strong>Name:</strong>
    <%= my_transaction.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= my_transaction.amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= my_transaction.user_id %>
  </p>

</div>
