<h1>Editing my transaction</h1>

<%= render "form", my_transaction: @my_transaction %>

<br>

<div>
  <%= link_to "Show this my transaction", @my_transaction %> |
  <%= link_to "Back to my transactions", my_transactions_path %>
</div>
