<h1>New my transaction</h1>

<%= render "form", my_transaction: @my_transaction %>

<br>

<div>
  <%= link_to "Back to my transactions", category_my_transactions_path(category_id: @category.id) %>
</div>
