.splash-screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  padding: 0 20px;
}

.splash-screen-container h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.accounts-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.account {
  height: 36px;
  width: inherit;
  text-align: center;
  padding: 10px 5px;
  font-size: 12px;
}

.login-link {
  background-color: var(--blue);
  color: var(--white);
}

.signup-link {
  color: var(--grey4);
}
