<div class="splash-screen-container">
  <h1> Awesome Budget Management </h1>
  <div class="accounts-container">
    <%= link_to "LOG IN", new_user_session_path, class: "account login-link"%>
    <%= link_to "SIGN UP", new_user_registration_path , class: "account signup-link" %>
  </div>
</div>
