<div id="<%= dom_id category %>" class="category-grid">

  <p>

    <%= image_tag category.image_url, class:"categ-icon" if category.image %>
  </p>

  <p class="categ-name-text">
    <%= category.name %>
  </p>

  <h3 class="categ-amount"> <%= category.my_transactions.sum(:amount) %> </h3>


</div>
