<div class="category-wrapper categ-add-wrapper">
<div class="header header-categ-trans">
  <%= link_to categories_path do %>
    <%= image_tag('back.svg', class: "icon-back") %>
  <% end %>
  <h1>Add new category</h1>
</div>

  <%= render "form", category: @category %>

  <br>
</div>
